<a href="https://colab.research.google.com/github/ghoshal7/python_basics/blob/master/INFORMS%20-%20Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Introduction

* 5 main data types : Numbers, String, List, Tuple, Dictionary

## 1.1. Numbers

* 7 basic arithmatic operators : +, -, *, /, %, //, **

In [0]:
print('7 + 3 = ', 7+3)
print('7 - 3 = ', 7-3)
print('7 * 3 = ', 7*3)
print('7 / 3 = ', 7/3)
print('7 % 3 = ', 7%3)
print('7 // 3 = ', 7//3)
print('7 ** 3 = ', 7**3)

# Order matters : PEMDAS
# print('1+2-3*4 is different from (1+2-3)*4 ,\n i.e.', 
#      '1+2-3*4 is', 1+2-3*4, 'but, (1+2-3)*4 is', (1+2-3)*4)

## 1.2. Strings

*  ' . ' / " . " / ' ' '  ...  ' ' ''
*  \  ,   '\n' ,    '\t'
* string operations
* regular expression

In [0]:

string_0 = 'Howdy! Aggie rocks.'

string_1 = '''Howdy!
Aggie rocks.'''

print(string_0)
print(string_1)

#print('\n')

#string_2 = string_0*5
#print(string_2)

In [2]:
print('abcd \t efgh')

abcd 	 efgh

## 1.3. List

In [0]:
skills = ['R', 'Python', 'Tableau', 'SQL']
print(skills)

print('first training :', skills[0])

order = [1,2,3,4]
dac = [skills, order]   # dac = data_analytics_club
print(dac)

single_list = skills+order
print(single_list)

skills.append('MATLAB')
print(skills)

skills.insert(0, 'Data Analytics')
print(skills)


# skills.remove('SQL')
# print(skills)
# del skills[4]

## 1.4. Tuple

In [0]:
# Similar to list, but unlike LIST, we CANNOT change a Tuple once it's created
skills_t0 = 'R', 'Python', 'Tableau', 'SQL'
skills_t1 = (1,2,3,4)
dac_t = skills_t0 + skills_t1

print (skills[2])
print (skills_t1[2])
print (dac_t)

#ERROR when try to change a tuple
skills[0] = 'X'

#-------------
#Convertion
new_list = list(dac_t)
print(type(new_list))

new_tupple = tuple(dac)
print(type(new_tupple))

## 1.5. Dictionary

In [0]:
US_currency_0 = {'Dollar':'100 cents', 'Quarters':'25 cents', 'Dime':'10 cents', 'Penny':'5 cents'}
US_currency_1 = {'Dollar':100, 'Quarters':25, 'Dime':10, 'Penny':5}

print('US_currency_0 = ', US_currency_0)
print ('US_currency_1 = ', US_currency_1)

US_currency_1 ['EUR'] = 1.23
print('US_currency_1 = ', US_currency_1)

print(US_currency_0['Dollar'])
print(US_currency_1['Quarters'])

print(US_currency_1.get('Penny'))

US_currency_0['Dime'] = 10

print('US_currency_0 = ', US_currency_0)

print('KEYS = ', US_currency_0.keys(),'||', 'data type = ', type(US_currency_1.keys()))
print('VALUES = ', US_currency_0.values(),'||', 'data type = ', type(US_currency_1.keys()))
print('ITEMS = ', US_currency_0.items(),'||', 'data type = ', type(US_currency_1.keys()))

# ----------------

# word = ['One', 'Two', 'Three', 'Four', 'Five']
# numbers = [1, 2, 3, 4, 5]
# d = zip(word,numbers)
# print (dict(d))

# 2. Variables

# 3. Built in function

**General** 
* print, type, input, int, str \

**Arithmatic**
* round, abs, complex, divmod, isinstance 

**List, Tuple**
* len, min, max, list, count, append, extend, index, insert, pop, del, reverse, sort/sorted, find,\  

**String**
* capitalize, upper, lower, endswith, center, join, split, replace, strip \ 

**Dictionary** 
* zip, values, keys, items

## 3.1. General

In [0]:
# print
a = 'string'
b = 1000
c = [1,2,3,4,5]
d = (1,2,3,4,5)
e = {'Texas' : 'USA', 'Kolkata' : 'India'}

print(a)
print(b)
print(c)
print(d)
print(e)

In [0]:
#type
print(type(a), type(b), type(c), type(d), type(e))
type(b)

In [0]:
#input
x = input('Enter any input here =')
print(x)

#error
#print(x+5)

In [0]:
# input
x = input('Enter any input here =')
x = int(x)
print(x+8)

In [0]:
# string
x = input('Enter value for x = ')
y = x+ str(1)
print(y)

## 3.2. Arithmatic

In [0]:
# round( ) function rounds the input value to a specified number of places or to the nearest integer.

print (round(5.6231)) 
print (round(5.6231, 2))

In [0]:
# complex( ) is used to define a complex number and abs( ) outputs the absolute value of the same.

#abs
print(abs(-5))

c =complex('5+2j')
print (abs(c))

In [0]:
# divmod(x,y) outputs the quotient and the remainder in a tuple in the format (quotient, remainder).

# divmod
divmod(9,2)

# type(divmod(9,2))
#[q,r] = divmod(9,2)

In [0]:
# isinstance( ) returns True, if the first argument is an instance of that class. Multiple classes can also be checked at once.

print (isinstance(1, int))
print (isinstance(1.0,int))
print (isinstance(1.0,(int,float)))

#print(isinstance([1,2], (int)))
#print(isinstance([1,2][0], (int)))

## 3.3. List , Tuple

In [0]:
# LIST

fruits = ['apple', 'orange', 'pineapple', 'mangoes', 'banana']
nums = [13,24,85,44,11,7,8,2,56,47]

### 3.3.1. len( ) is used to find the length of the list or the number of elements in a list.

In [0]:

print(len(fruits),',',len(nums))

### 3.3.2. min( ) and max( ) gives the minimum and maximum value in the list, if the list consists of all integer elements.

In [0]:
print(min(nums), ',', max(nums))

* In a list with elements as string, max( ) and min( ) is applicable. max( ) would return a string element whose <a href = 'https://en.wikipedia.org/wiki/ASCII'> ASCII value </a> is the highest and the lowest when min( ) is used.

In [0]:
print(min(fruits),',', max(fruits))

* Note that only the first index of each element is considered each time and if they value is the same then second index considered so on and so forth.

In [0]:

print(min(words, key = len), ',', max(words, key = len))

* But what if numbers are declared as strings?

In [0]:
nlist = ['1','94','93','1000']
print (max(nlist),',',min(nlist))

### 3.3.3. list() function converts A string can be converted into a list of characters

In [0]:
list('Howdy!')

# # also converts tuples into list
# tu = (1,2,3)
# li = list(tu)

### 3.3.4. count( ) is used to count the number of a particular element that is present in the list.

In [0]:
num = [1,2,3,2,3,23,1,3,1,3,111,3,211,321,1]
num.count(1)

### 3.3.5. append( ) function can also be used to add a entire list at the end. Observe that the resultant list becomes a nested list.

In [0]:
lst1 = [5,4,2,8]
num.append(lst1)
print(num)

- But if nested list is not what is desired then extend( ) function can be used.

In [0]:
num = [1,2,3,2,3,23,1,3,1,3,111,3,211,321,1]
num.extend(lst1)
print(num)

### 3.3.6. index( ) is used to find the index value of a particular element. Note that if there are multiple elements of the same value then the first index value of that element is returned.

In [0]:
num.index(3)

### 3.3.7. insert(x,y) inserts y at x position.

In [0]:
num.insert(5, 'name')
print (num)

- insert(x,y) inserts but does not replace element. If you want to replace the element with another element you simply assign the value to that particular index

In [0]:
num[5] = 'boo'
num

### 3.3.8. pop( ) function return the last element in the list. This is similar to the operation of a stack. Hence it wouldn't be wrong to tell that lists can be used as a stack.

In [0]:
print(num.pop())
print(num)
print(num.pop(0))
print(num)

- pop( ) is used to remove element based on it's index value which can be assigned to a variable. One can also remove element by specifying the element itself using the remove( ) function

In [0]:
num.remove('boo')
print(num)

- Alternative to remove function but with using index value is del

In [0]:
del num[0]
print(num)

### 3.3.9. reverse() function reverses the entire elements present in the list

In [0]:
num.reverse()
print(num)

### 3.3.10. Python offers built in operation sort( ) to arrange the elements in ascending order.

In [0]:
num.sort()
print(num)
print(sorted(num))

- For descending order , By default the reverse condition will be False for reverse. Hence changing it to True would arrange the elements in descending order.

In [0]:
num.sort(reverse = True)
print(num)

## 3.4. Strings

## 3.5. Dictionary